@{
    Layout = "_Layout";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<ul class="nav  nav-pills nav-justified mt-2 mb-3" role="tablist" data-tabs="tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Event" asp-area="Admin">Manage Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Organizer" asp-area="Admin">Manage Organizers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Category" asp-area="Admin">Manage Categories</a>
    </li>
</ul>

@RenderBody()

