@model GridViewModel<Organizer>
@{
    ViewData["Title"] = " | Organizers";
}

<h1>Organizers</h1>

<div class="kanban">
    @foreach (Organizer organizer in Model.Items)
    {
        <div class="box">
            <h6>Organizer :</h6><h3>@organizer.OrganizerName</h3>
            <h6>Events:</h6>
            @foreach (var ba in organizer.EventOrganizers)
            {
                <div class="">
                    <p>
                        <partial name="_EventLinkPartial" model="@ba.Event" />
                    </p>
                </div>
            }
        </div>
    }
</div>

<partial name="_PagingLinksPartial" />